<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Login & Reg | Home</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--<link href="css/style.css" rel="stylesheet">-->
    </head>
    <body>
        
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li style="color:red;" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <hr>
            
        <form action="/reg" method="post">
            {% csrf_token %}
            <h1>Registration</h1>
            <label for="name">Name: </label>
            <input type="text" name="name" value="">
            <p></p>
            <label for="email">Email: </label>
            <input type="email" name="email" value="">
            <p></p>
            <label for="password">Password: </label>
            <input type="password" name="password" value="">
            <p></p>
            <label for="confirm_pw">Confirm pw: </label>
            <input type="password" name="confirm_pw" value="">
            <p></p>
            <input type="submit" name="" value="Register">
        </form>
        <hr>
        <form action="/login" method="post">
            {% csrf_token %}
            <h1>Log in</h1>
            <label for="log_email">Email: </label>
            <input type="email" name="log_email" value="">
            <p></p>
            <label for="log_pw">Password: </label>
            <input type="password" name="log_pw" value="">
            <p></p>
            <input type="submit" name="" value="Login">            
        </form>
    </body>
</html>