<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <title>Login & Reg | Success</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--<link href="css/style.css" rel="stylesheet">-->
    </head>
    <body>
        <h1>Welcome, {{current_user.name}}!</h1>
        <p>Successfully {{request.session.status}}</p>
        <a href="/logout"><button type="">Logout</button></a>
        <hr>
        <form action="/upload" method="post" enctype="multipart/form-data">
            {% csrf_token %}            
            <h3>Upload The Belt</h3>
            <input type="file" name="upload">
            <p></p>
            <input type="submit" value="Upload">
        </form>
        <hr>
        {% comment %} flash messages {% endcomment %}
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li style="color:red;" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        <a href="{% static 'screen.png' %}">Screenshot of the rendered HTML</a>        
        {% endif %}
        

        <h2>Your list of uploads</h2>
        <h3>(It would take a few seconds to analyze your file and a result message would appear above.)</h3>
        <ul>
            {% for upload in uploads %}
                <li>{{ upload.filename }}
                    <a href="/analyze/{{ upload.id }}">Analyze</a>  
                    <a href="/delete/{{ upload.id }}">Delete</a>
                </li>
            {% endfor %}
        </ul>  
            
    </body>
</html>